MONGODB_URI=
BOT_TOKEN=
API_ID=
API_HASH=
ADMIN_IDS=
CHAT_ID=
UPDATES_CHANNEL=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

BINANCE_API_KEY=
BINANCE_API_SECRET=
USDT_TO_INR=95

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
VERIFY_URL=
VERIFY_PORT=8888
ENABLE_VERIFICATION=true
OFFER_GRANT_CHANCE=1.0
OFFER_RECENT_PURCHASE_DAYS=14
OFFER_DISCOUNT_SKEW=31.387447433766166
OFFER_GRANT_INTERVAL_SECONDS=300
